:root {
  --primary-color: #c02e32;
  --secondary-color: #421a30;
  --background-color: #f4f4f4;
}

body {
  margin: 0 auto;
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 16px;
  text-align: center;
  padding-top: 50px;
}
p {
  font-family: "PT Serif", serif;
  font-weight: 400s;
  font-size: 14px;
  color: #85929e;
  text-align: center;
}
a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 14px;
  padding: 10px 12px;
  background-color: lightGrey;
  font-size: 12px;
}

.head-section {
  background-color: var(--primary-color);
  padding: 60px;
  text-align: center;
}
.head-section h1 {
  color: var(--secondary-color);
}
.head-section p {
  color: #1b1e26;
  font-size: 16px;
  line-height: 2;
}

.dictionary-logo {
  display: flex;
  justify-content: center;
  padding: 80px;
  background-color: #f7f202;
}
.dictionary-mockup {
  display: flex;
  justify-content: center;
  background-color: #f7f202;
}
.react-weather-app {
  display: flex;
  justify-content: center;
  background-color: #272b33;
}
.react-weather-icons {
  background-color: #272b33;
}
.vanilla-weather-app {
  background-color: #d9dee1;
}

/* Media */
@media (max-width: 900px) {
  .hero {
    padding: 60px 20px 20px;
  }
  .hero h1 {
    text-align: center;
  }
}
